body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    font-family: 'Averia Libre', cursive;font-size: 20px;
    color: #6E5643;
    background-color: #ECE7C2;
}

header {
    padding: 10px;
    font-variant: caps;
    font-family: 'Lemon', cursive;font-size: 35px;
    text-align: center;
    color: #6E5643;
}

main {
    padding: 10px;
    font-family: 'Averia Libre', cursive;font-size: 20px;
    text-align: center;
    color: #6E5643;
}

nav {
    width: 200px;
    float: middle;
    text-align: center;
    font-family: 'Lemon', cursive;font-size: 25px;
    color: #6E5643;
    display: inline;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 130px;
}

a {
  display: block;
  padding: 8px;
  color: #6E5643;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #CD6C4A;
  border: none;
  color: #ECE7C2;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
    font-family: 'Averia Libre', cursive;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
    border: 1px solid #6E5643;
  box-sizing: border-box;
    background-color: #ECE7C2;
    color: #6E5643;
    font-family: 'Averia Libre', cursive;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid #6E5643;
  border-collapse: collapse;
  padding: 20px;
  background-color: #ECE7C2;
  text-align: center;
  color: #6E5643;
}